.home {
    width: 100%;
    margin-top: 138px;
}
.__carousel {
    &__wrap {
        max-height: 490px;
    }
    &__item {}
    &__image {
        height: 550px;
        background-size: 100% 700px;
    }
    &__desc {
        width: 375px;
        position: absolute;
        top: 50%;
        left: 144px;
        transform: translateY(-50%);
    }
    &__text {
        font-weight: 800;
        font-size: 40px;
        line-height: 60px;
        color: #fff;
        margin: 0;
    }
    &__button {
        width: 131px;
        height: 48px;
        border: none;
        border-radius: 10px;
        background-color: #FBB900;
        border-color: #F0D075;
        color: #fff;
        font-weight: 900;
        font-size: 16px;
        line-height: 24px;
    }
}

.__wrap {
    width: 100%;
}



