.__sectionTitle {
    font-weight: 700;
    color: #4D4D4D;
    font-style: bold;
    font-size: 32px;
}
.__footerTitle {
    font-weight: 700;
    color: #FFF;
    font-style: bold;
    font-size: 24px;
    margin: 0;
    padding: 0;
}