@font-face {
    font-family: "Popins";
    src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap") format("woff2")
  }
@font-face {
    font-family: "Lato";
    src: url("https://fonts.googleapis.com/css2?family=Lato&display=swap") format("woff2")
  }

// Background

$bg-white : "";
$bg-black : "";
$bg-orange : "";
$bg-orangeSecundary : "";
$bg-gray : "";
$bg-graySecundary : "";

// Colors

$white : "";
$black : "";
$orange : "";
$orangeSecundary : "";
$gray : "";
$graySecundary : "";

// Font-size

$small : "";
$normal : "";
$big : "";

// Borders

$radius-10 : "10px";
$radius-20 : "20px";

// Font-family

$pop : "Popins";