@font-face {
  font-family: "Popins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap") format("woff2")
}
@font-face {
  font-family: "Lato";
  src: url("https://fonts.googleapis.com/css2?family=Lato&display=swap") format("woff2")
}

// Background

$bg-white : "#FFF";
$bg-black : "#000";
$bg-orange : "#FBB900";
$bg-orangeSecundary : "#F0D075";
$bg-gray : "#9F9F9F";

// Colors

$white : "#FFF";
$black : "#000";
$orange : "#FBB900";
$orangeSecundary : "#F0D075";
$gray : "#9F9F9F";

// Font-color

$colorGray : "#9F9F9F";

// Font-size

$small : ".8em";
$normal : "1em";
$big : "1.2em";

// Borders

$radius-10 : "10px";
$radius-20 : "20px";

// Font-family

$pop : "Popins";