// Background

$bg-white : "";
$bg-black : "";
$bg-orange : "";
$bg-orangeSecundary : "";
$bg-gray : "";
$bg-graySecundary : "";

// Colors

$white : "";
$black : "";
$orange : "";
$orangeSecundary : "";
$gray : "";
$graySecundary : "";

// Font-size

$small : "";
$normal : "";
$big : "";

// Borders

$radius-10 : "10px";
$radius-20 : "20px";