.footer {
    background-color: #FBB900;
}
.__wrap {
    max-width: 1280px;
    display: grid;
    grid-template: "sc" "sc" "op" / 100%;
    margin: auto;
}
.__social {
    grid-area: sc;
    border-right: 1px solid #FFF;
    padding: 0 15px;
    text-align: center;
    padding-top: 48px;
    &__box {
        padding: 50px 25px 0 25px;
    }
    &__about {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #FFF;
        padding-top: 30px;
        width: 100%;
        margin: 0 auto;
    }
}
.__options {
    grid-area: op;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 0px 0;
    &__list {
       width: 100%;
       padding: 32px 10px;
       text-align: center;
       div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        img {
            // width: 90px;
            // height: 60px;
            margin-top: -4px;
        }
       }
    }
    &__listImage {
        // width: 30%;
        padding: 10px;
    }
    &__box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 40px;
    }
    &__icon {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
    &__title {
        display: block;
        font-weight: 700;
        color: #FFF;
        font-size: 20px;
        line-height: 30px;
        width: 100%;
        margin-bottom: 20px;
    }
    &__item {
        font-size: 21px;
        font-weight: 500;
        line-height: 21px;
    }
    &__anchor {
        color: #FFF;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        padding: 7.5px;
        display: block;
    }
    &__imageBox {
        width: 94px;
        margin-right: 3px;
        border-radius: 6px;
        vertical-align: center;
    }
    &__image {
        border-radius: 10px;
        max-width: 100%;
    }
}

.__contact {
    border-top: 1px solid #FFF;
    width: 100%;
    padding: 40px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__list {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #FFF;
    }
    &__item {
    }
    &__itemImage {
        display: flex;
        padding: 11px 0 0;
    }
    &__anchor {}
    &__image {
        width: 106px;
        margin-left: 32px;
    }
}


@media (max-width: 575px) {
}
// Sm
@media (min-width: 576px) {}
// Md
@media (min-width: 768px) {
    .__wrap {
        grid-template: "sc op op" "sc op op" "sc op op" / 40% 60%;
    }
    .__social {
        &__about {
            width: 339px;
            padding-top: 30px;
        }
    }
    .__contact {
        flex-wrap: nowrap;
        padding: 40px 40px;
        &__list {

        }
    }
    .__options {
        &__list {
            width: 50%;
            text-align: unset;
            div {
                justify-content: unset;
            }
        }
        &__listImage {
            padding: 0 10px;
        }
    }
}
// Lg
@media (min-width: 991px) {}
// Xl
@media (min-width: 1200px) {}
// Xxl
@media (min-width: 1400px) {}