.header {
    height: 120px;
    position: relative;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: #FFF;
}
.__wrap {
    width: 100%;
    border-radius: 0 0 10px 10px;
}
.__adv {
    &__list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 32px;
        width: 100%;
        border-bottom: 1px solid #cccccc36;
        max-width: 1280px;
        margin: auto;
        &__item {
            font-family: Poppins, sans-serif;
            color: #9F9F9F;
            font-size: 12px;
            line-height: 18px;
            display: none;
            align-items: center;
        }
        &__image {
            height: 20px;
            width: 20px;
            margin-right: 10px;
        }
        &__textHighlight {
            color: #FBB900;
            padding: 0 3px;
            font-weight: 600;
        }
    }
}
.__scope {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: 72px;
    border-bottom: 1px solid #cccccc36;
    padding: 10px;
    &__lg {
        width: 40%;
        text-align: center;
        img {
            width: 100%;
        }
    }
    &__menum {
        display: none;
        img {
            max-width: 59px;
            margin-top: -7px;
        }
    }
    &__sr {
        display: none;
        align-items: center;
        flex-grow: 1;
        max-width: 50%;
        &__form {
            display: flex;
            justify-content: space-between;
            background-color: #FEF6E7;
            border-radius: 10px;
            width: 100%;
            position: relative;
        }
        &__input {
            border: none;
            background-color: unset;
            padding: 10px 0 10px 24px;
            font-size: 14px;
            line-height: 21px;
            color: #9F9F9F;
            font-weight: 600;
            height: 48px;
            width: 100%;
            font-weight: 500;
            
            &::placeholder {
                font-size: 14px;
                color: #9F9F9F;
                font-weight: 500;
            }
        }
        &__button {
            border: none;
            background-color: unset;
            background: url("../../images/icons/magnify.png");
            background-size: cover;
            width: 28px;
            height: 28px;
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }
    &__op {
        width: 20%;
        display: none;
        justify-content: flex-end;
        align-items: center;
        &__icon {
            width: 28px;
            height: 28px;
        }
        &__item {
            display: block;
            padding: 0 10px;
        }
    }
}
.__menu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    max-width: 1280px;
    margin: auto;
    &__list {
        display: flex;
        justify-content: space-evenly;
        padding: 0 10px;
        width: 100%;
        border-radius: 0 0 10px 10px;
        &__item {
            padding: 0 10px;
            align-self: center;
        }
        &__anchor {
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            text-transform: uppercase;
            color: #9F9F9F;
            &__offer {
                color: #FBB900;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                text-transform: uppercase;
            }
        }
        &__icon {
            width: 20px;
            margin: 0px 6px -5px 0;
        }
    }
}

@media (max-width: 575px) {
    .header {
        height: auto;
    }
    .__adv__list,
    .__menu {
        display: none;
    }
    .__scope {
        justify-content: space-between;
        &__menum {
            display: block;
        }
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .header {
        height: 144px;
    }
    .__adv {
        &__list {
            &__item {
                display: flex;
            }
        }
    }
    .__scope {
        justify-content: unset;
        &__lg {
            width: 25%;
            img {
                width: 178px;
            }
        }
        &__sr {
            display: inline-flex;
            max-width: 657px;
        }
        &__op {
            display: inline-flex;
        }
    }
}

@media (min-width: 991px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}