.product {}

.__wrap {
    max-width: 1280px;
    margin: auto;
    padding: 80px 40px 0 40px;
}

.__carousel {
    &__item {
        width: unset;
        height: 277px;
        overflow: hidden;
        border-radius: 20px;
    }
    &__image {
        background-size: contain;
        -moz-transform: scale(1.9);
        -webkit-transform: scale(1.9);
        transform: scale(1.9);
        background-size: contain;
        width: 100%;
        height: 100%;
    }
    &__description {
        display: block;
        width: 100%;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        color: #9F9F9F;
        margin-top: 16px;
    }
}

.__showcase {
    max-width: calc(1280px + 100px);
    margin: auto;
    padding: 80px 40px 0 40px;
    &__wrap {
        display: flex;
        flex-wrap: wrap;
    }
    &__see {
        color: #FBB900;
        width: 100%;
        text-decoration: underline;
        display: block;
        text-align: center;
        margin-top: -60px;
    }
    &__info {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        &__name {
            width: 40%;
        }
        &__categories {
            width: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;
            margin: 10px 0 20px;
        }
        &__carousel {
            display: flex;
        }
        &__button {
            border: none;
            color: #9F9F9F;
            width: 100%;
            font-weight: 700;
            line-height: 21px;
            border: 1px solid #E5E5E5;
            padding: 0 10px;
            background-color: unset;
            height: 40px;
            white-space: nowrap;
            border-radius: 6px;
        }
    }
    &__carousel {}
}

.__item {
    position: relative;
    &__box {}
    &__favorite {
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        margin: 0;
        &__image {
            max-width: 100%;
        }
    }
    &__seal {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FEF6E7;
        width: 100px;
        height: 40px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        &__text {
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            color: #FBB900;
        }
    }
    &__product {
        margin: 0;
    }
    &__image {
        max-width: 100%;
    }
    &__info {
        margin: 0;
        padding: 0 55px;
        height: 42px;
    }
    &__name {
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #4D4D4D;
        text-transform: uppercase;
    }
    &__prices {
        display: flex;
        flex-direction: column;
        padding: 0 25px;
        height: 168px;
        &__box {
            width: 100%;
            display: inline-flex;
            text-align: center;
            flex-wrap: wrap;
            padding: 10px 0 0;
        }
        &__old {
            width: 100%;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #9F9F9F;
        }
        &__new {
            width: 100%;
            font-size: 18px;
            font-style: bold;
            text-decoration: unset;
            line-height: 34px;
            font-weight: 700;
            color: #4D4D4D;
            span {
                font-size: 22px;
            }
        }
    }
    &__installment {
        display: inline-flex;
        flex-wrap: wrap;
        font-weight: 600;
        line-height: 22px;
        font-size: 16px;
        text-align: center;
        &__price {
            width: 100%;
            color: #FBB900;
        }
        &__text {
            width: 100%;
            color: #4D4D4D;
        }
    }
    &__addCart {
        font-weight: 900;
        font-size: 16px;
        line-height: 24px;
        color: #FFF;
        background-color: #FBB900;
        border: 1px solid #F0D075;
        height: 48px;
        margin-top: 14px;
        border-radius: 10px;
    }
}


@media (max-width: 575px) {
}
// Sm
@media (min-width: 576px) {}
// Md
@media (min-width: 768px) {
    .__carousel {
        &__item {
            width: 277px;
        }
    }
    .__showcase {
        &__info {
            flex-wrap: nowrap;
            &__categories {
                width: 60%;
                margin: unset;
            }
        }
    }
}
// Lg
@media (min-width: 991px) {}
// Xl
@media (min-width: 1200px) {}
// Xxl
@media (min-width: 1400px) {}