.follow {
    &__text {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #FFF;
        margin: 0;
        padding: 0;
    }
}

.__social {
    &__list {
        margin-top: 32px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    &__item {
        padding: 0 10px;
    }
    &__anchor {
        display: block;
        height: 100%;
        width: 100%;
    }
    &__icon {
        width: 22px;
    }
}


@media (max-width: 575px) {
}
// Sm
@media (min-width: 576px) {}
// Md
@media (min-width: 768px) {
   
}
// Lg
@media (min-width: 991px) {}
// Xl
@media (min-width: 1200px) {}
// Xxl
@media (min-width: 1400px) {}